---
---

h1 {
  color: #2C2C2C;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  margin-top: 20px;
  font-weight: 300;
}

h2 {
  color: #2C2C2C;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  margin-top: 16px;
  font-weight: 300;
}

h3 {
  color: #2C2C2C;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  margin-bottom: -4px;
  font-weight: 300;
}

h4 {
  color: #2C2C2C;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  margin-bottom: -4px;
  font-weight: 300;
}

.helvetica {
  color: #2C2C2C;
  font-family: 'Helvetica', sans-serif;

}


.navigation {
  text-align: right;
  display: flex;
  gap: 20px;
  padding: 10px;
  
  color: #2C2C2C;
  
  
  .grow {
    height: 20px;
    transition: height 2s;
    -webkit-transition: height 2s;
    text-align: left;
    overflow: hidden;
    
    hr {
      margin-top: 2px;
    }
    a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      text-transform: uppercase;
      font-family: sans-serif;
      
    }
    ul {
        margin:10px 0 0 0px;
        padding:0px 0 0 0;
        list-style:none;
        opacity: 100%;
        width: 0;
        
    }
    .subitem {
      padding: 10px 10px 10px 10px;
      white-space: nowrap;
      font-weight: lighter;
      background-color: #f0f0f0;
      
    }
    .current {
      color: #9C59D1;
    }
    
  }
  .grow:hover {
    height: auto;
    overflow: visible;
    z-index: 289;
    display: block;
    
  }
}

.image-preview {
  width: 200px;
  float: right;
  margin: 0px 20px 20px 20px;
  break-after: always;
}

.blog-images {
  display: inline-table;
}

div.item {
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  max-width: 440px;
  min-width: 200px;
  margin: 20px 20px 0px 0px;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}


#nav-rectangle {
  background-color: #f0f0f0;
  width: 100%;
  height: 20px;
  text-align: right;
  display: flex;
  gap: 20px;
  padding: 10px;
}